@import '../../utilities/variables';

#removeIcon {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    img {
        width: 100%;
        height: 1.5rem;
    }
}

#cartqty {
    border: none;
    background-color: rgb(236, 236, 236);
    text-align: center;
    width: 5rem;

    &::-webkit-inner-spin-button, 
    ::-webkit-outer-spin-button {  
        opacity: 1;
    }
}