@import '../../utilities/variables';

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: $heightMinNav;

    .cartItemList {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        table {
            width: 100%;
            text-align: center;
            border-spacing: 0 1rem;

        }

        .cartButtons {
            display: flex;
            justify-content:flex-end;
            gap: 1rem;
            width: 95%;
            // padding-right: rem;
            
            button {
                border: none;
                border-radius: 5px;
                margin-top: 1rem;
                padding: .2rem 1rem .1rem 1rem;
                font-size: 1.2rem;
                background-color: $highlight;
                color: white;
                cursor: pointer;

                &:hover {
                    transition: all .2s ease-in-out;
                    transform: scale(1.1); 
                }
            }
        }
    }
}