@import '../../utilities/variables';

.payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: $heightMinNav;

    h1 {
        align-self: center;
    }

    .isLoading {
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin: 0;
        }
    }

    .paymentBody {
        display: flex;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 2rem;
        .paymentInfo {
            min-width: calc(80% - 1rem);
            border: 1px solid black;
            border-radius: 10px;
            padding-left: 1rem;
            padding-top: 1rem;

            p {
                margin: 0;
            }

            .backToCart {
                align-self: flex-start;
                margin-left: 2rem;
                border: none;
                background-color: transparent;
                font-size: 1.3rem;
            }
        }
    
        .cartInfo {
            min-width: calc(20% - 1rem);
            border: 1px solid black;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 2rem;
            height: fit-content;

            #cartInfoHeader {
                align-self: flex-end;
                margin-right: 1rem;
            }
            .checkoutsummary {
                margin-right: 1rem;
            }

            button {
                border: none;
                border-radius: 5px;
                margin-top: 1rem;
                margin-right: 1rem;
                padding: .1rem 1rem .1rem 1rem;
                font-size: 1.2rem;
                background-color: $highlight;
                color: white;
                cursor: pointer;
                align-self: flex-end;

                &:hover {
                    transition: all .2s ease-in-out;
                    transform: scale(1.1); 
                }
            }
        }
    }
}

.paymentDefault {
    align-items: space-between;
}
.paymentProcessing {
    align-items: center;
    justify-content: center;
}