@import '../utilities/variables';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: $heightMinNav;

    h1 {
        font-size: 3rem;
    }
}