@import '../../utilities/variables';

.cartsummary {
    width: 95%;
    text-align:end;

    h3 {
        margin: 0;
    }
}

.checkoutsummary {
    width: 90%;
    text-align: end;

    h4 {
        // margin: 0;
    }
}