@import '../../utilities/variables';

#notifButton {
    background-color: transparent;
    border: none;
    position: fixed;
    top: $navbarHeight;
    right: 2rem;
    padding: 0;
    cursor: pointer;

    img {
        height: 2rem;
        width: auto;
    }

    #notifCount {
        width: 18px;
        height: 18px;
        background-color: red;
        position: absolute;
        right: -5px;
        border-radius: 100%;
        color: white;
        text-align: center;
        justify-content: center;
        align-items: center;
        // font-weight: bold;
    }

    &:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.1); 
    }
}

.notificationList {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightslategray;
    overflow-x: hidden;
    transition: 0.2s;
    // padding-top: 40px;
    box-shadow: -5px 0px 30px 1px #aaaaaa;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .closebtn {
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 36px;
        // margin-left: 50px;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;

        &:hover {
            transition: all .2s ease-in-out;
            transform: scale(1.1); 
        }
    }

    #cartCount {
        margin: 0;
        border: 1px solid white;
        border-radius: 5px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    .currentCart {
        border: 1px solid white;
        width: 90%;
        min-height: 10rem;
        border-radius: 10px;
    }

    #checkout, .notifButton {
        border: none;
        border-radius: 50px;
        margin-top: 0.5rem;
        padding: .1rem 1rem .1rem 1rem;
        font-size: 1rem;
        background-color: $highlight;
        color: white;
        cursor: pointer;

        &:hover {
            transition: all .2s ease-in-out;
            transform: scale(1.1); 
        }
    }

    h3 {
        margin-top: 3rem;
    }

    .activitySection {
        // border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 95%;
        cursor: pointer;

        &:hover {
            background-color: $highlight;
            transition: all .2s ease-in-out;
            transform: scale(1.1); 
        }

        .activityDate {
            margin-bottom: 0;
        }
        .activity {
            margin-top: 0;
        }
    }
}