@import '../../utilities/variables';

.credit-card-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    max-width: 500px;
    // margin: 0 auto;
    padding-bottom: 2rem;

    .infoSaved {
        // display: none;
        color: green;
    }
    .infoNotSaved {
        display: none;
    }
    
    label {
        grid-column: span 2;
    }

    input {
        text-align: center;

        background-color: rgb(236, 236, 236);
        border: none;
        font-size: 1rem;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }
    }

    .card-number, .name-on-card {
        grid-column: span 1;
    }

    .expiration-date, .cvv {
        width: calc(50% - 5px);
    }
    
    button {
        margin-top: 1rem;
        width: 20%;
        grid-column: span 2;
        // margin: 0px 100px; /* Adjust padding to make the button smaller */
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: $highlight;
        color: white;
        cursor: pointer;

        &:hover {
            transition: all .2s ease-in-out;
            transform: scale(1.1); 
        }
    }
}
  
  
  
  
  
//   .credit-card-form button {
//     // grid-column: span 2;
//     // padding: 10px;
//     // background-color: #007BFF;
//     // color: white;
//     // border: none;
//     // cursor: pointer;

//     grid-column: span 2;
//   margin: 0px 100px; /* Adjust padding to make the button smaller */
//   background-color: #007BFF;
//   color: white;
//   border: none;
//   cursor: pointer;
//   font-size: 14px; /* Adjust font size to make the button smaller */
//   }


  